apiVersion: kots.io/v1beta1
kind: ConfigValues
spec:
    values:
        ingress_mode:
            value: "none"
        wallaroo_domain:
            value: $CODESPACE_NAME-8443.$DOMAIN_SUFFIX           
        envoy_additional_host:
            value: localhost:8443
        jupyter_mode:
            value: hub
        mothership_fqdn:
            value: api.$MS_BASE_URL
